$color--black: #1e1e1e;
$color--dark-gray: #3b3434;
$color--white: #fefefe;
$color--gray: #F4F4F4;

$color--gray-100: $color--dark-gray;
$color--gray-400: #d4d4d4;
$color--gray-900: $color--gray;

$color--blue-100: #03045E;
$color--blue-200: #023E8A;
$color--blue-300: #0077B6;
$color--blue-400: #0096C7;
$color--blue-900: #CAF0F8;

$color--orange: #ffe6c6;

$color--orange-100: #fe5715;
$color--orange-900: $color--orange;